* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    padding-left: 200px;
    padding-right: 200px;
}

.container {
    width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;
}

.sidebar {
    width: 200px;
    margin-right: 30px;
    margin-top: 10px;
    /* 확인용 */
    height: 1000px;
    background-color: #f7f7f7;
}

.mainbox {
    width: 900px;
    margin: auto;
    height: 1000px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #f7f7f7;
}

.title {
    padding:10px 30px;
    background-color: #f7f7f7;
    margin-top: 5px;
    margin-bottom: 10px;
}
.content{
    background-color: #f7f7f7;
    margin-bottom: 10px;
}

.input-group-text {
    width: 120px;
    text-align: center;
}

#reqButton {
    margin: auto;
    display: block;
}

#modiDelBtn {
    padding-top: 20px;
}

.formGroup {
    padding: 30px;
}

.popup {
    margin: 30px;
    padding: 20px 10px;
}

.logoPic {
    width: 200px;
    height: 70px;
}

#rememberCheck {
    margin-bottom: 10px;
}

#loginBtn {
    margin-left: 100px;
}

.comment {
    background-color: #f7f7f7;
    margin-top: 15px;
    padding: 10px;
}


.section1 {
    magin: 20px;
    padding: 15px;
    background-color: aliceblue;
}

.section2 {
    magin: 30px;
    padding: 15px;
    background-color: mintcream;
}

.smallTitle {
    margin-bottom: 10px;
}