<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbom.mapper.auth.DolbomUserMapper">
    <resultMap id="DolbomUserMap" type="com.dolbom.domain.auth.DolbomUserVO">
        <id property="userId" column="USER_ID"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userNm" column="USER_NM"/>
        <result property="userRgsnDttm" column="USER_RGSN_DTTM"/>
        <result property="userModiDttm" column="USER_MODI_DTTM"/>
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>

    <resultMap id="authMap" type="com.dolbom.domain.auth.AutoVO">
        <result property="userId" column="USER_ID"/>
        <result property="auth" column="AUTH"/>
    </resultMap>

    <select id="readDolbomUserInfo" resultMap="DolbomUserMap">
         SELECT DU.USER_ID,
                DU.USER_PW,
                DU.USER_NM,
                DU.USER_RGSN_DTTM,
                DU.USER_MODI_DTTM,
                DUA.AUTH
            FROM DOLBOM_USER DU
            LEFT OUTER JOIN DOLBOM_USER_AUTH DUA
                ON DU.USER_ID = DUA.USER_ID
            WHERE DU.USER_ID = #{userId}
    </select>
</mapper>
