<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbom.mapper.DlbmMapper">


    <select id="getTotalCnt" resultType="int">
        SELECT COUNT(*)
            FROM SRVC
            WHERE SRVC_ID > 0
                AND SRVC.DLT_YN = 'N'
                AND SRVC.USE_YN = 'Y'
    </select>
    <select id="getListWithPaging" resultType="com.dolbom.domain.DlbmVO">
        <![CDATA[
                SELECT SRVC_ID,
                DLBM_ID,
                SRVC_NM,
                SRVC_RGSN_STAT_CD,
                SRVC_DTL,
                DLBM_LOC,
                USE_YN,
                CREATED_DT,
                CREATED_BY,
                LAST_MODIFIED_DT,
                LAST_MODIFIED_BY,
                RATE,
                BREED_CTGR_CD,
                ANIMAL_CTGR_CD
                FROM
                (
                SELECT ROWNUM RN,
                SRVC.SRVC_ID,
                SRVC.DLBM_ID,
                SRVC.SRVC_NM,
                SRVC.SRVC_RGSN_STAT_CD,
                SRVC.SRVC_DTL,
                SRVC.DLBM_LOC,
                SRVC.USE_YN,
                SRVC.DLT_YN,
                SRVC.CREATED_DT,
                SRVC.CREATED_BY,
                SRVC.LAST_MODIFIED_DT,
                SRVC.LAST_MODIFIED_BY,
                SRVC.RATE,
                CC1.CD_NM BREED_CTGR_CD,
                CC2.CD_NM ANIMAL_CTGR_CD
                FROM SRVC
                LEFT OUTER JOIN CMMN_CD CC1
                ON SRVC.ANIMAL_CTGR_CD = CC1.CD_GROUP_ID
                AND SRVC.BREED_CTGR_CD = CC1.CD_ID
                LEFT OUTER JOIN CMMN_CD CC2
                ON SRVC.ANIMAL_CTGR_CD= CC2.CD_ID
                WHERE SRVC.DLT_YN = 'N'
                AND SRVC.USE_YN = 'Y'
                AND ROWNUM <= #{pageNum} * #{amount}
                ORDER BY SRVC.CREATED_DT DESC
                )
                WHERE RN > (#{pageNum} -1) * #{amount}
        ]]>
    </select>

    <insert id="register">
        <selectKey keyProperty="srvcId" order="BEFORE" resultType="long">
            SELECT SRVC_ID_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO SRVC
            (
             SRVC_ID,
             DLBM_ID,
             SRVC_NM,
             SRVC_RGSN_STAT_CD,
             ANIMAL_CTGR_CD,
             BREED_CTGR_CD,
             SRVC_DTL,
             POSTCODE,
             DLBM_LOC,
             DETAIL_ADDRESS,
             CREATED_DT,
             CREATED_BY,
             LAST_MODIFIED_DT,
             LAST_MODIFIED_BY
             )
        VALUES
            (
             #{srvcId},
             #{dlbmId},
             #{srvcNm},
             10,
             #{animalCtgrCd},
             #{breedCtgrCd},
             #{srvcDtl},
             #{postcode},
             #{dlbmLoc},
             #{detailAddress},
             sysdate,
             #{createdBy},
             sysdate,
             #{lastModifiedBy}
            )
    </insert>

    <select id="get" resultType="com.dolbom.domain.DlbmVO">
        SELECT SRVC.SRVC_ID,
               SRVC.DLBM_ID,
               SRVC.SRVC_NM,
               SRVC.SRVC_RGSN_STAT_CD,
               SRVC.SRVC_DTL,
               SRVC.POSTCODE,
               SRVC.DLBM_LOC,
               SRVC.DETAIL_ADDRESS,
               SRVC.USE_YN,
               SRVC.DLT_YN,
               SRVC.CREATED_DT,
               SRVC.CREATED_BY,
               SRVC.LAST_MODIFIED_DT,
               SRVC.LAST_MODIFIED_BY,
               SRVC.RATE,
               CC1.CD_NM BREED_CTGR_CD,
               CC2.CD_NM ANIMAL_CTGR_CD
        FROM SRVC
                 LEFT OUTER JOIN CMMN_CD CC1
                                 ON SRVC.ANIMAL_CTGR_CD = CC1.CD_GROUP_ID
                                     AND SRVC.BREED_CTGR_CD = CC1.CD_ID
                 LEFT OUTER JOIN CMMN_CD CC2
                                 ON SRVC.ANIMAL_CTGR_CD= CC2.CD_ID
        WHERE  SRVC_ID = #{srvcId}
    </select>

    <update id="delete">
        UPDATE SRVC
        SET DLT_YN = 'Y',
            SRVC_RGSN_STAT_CD = 99,
            LAST_MODIFIED_DT = sysdate,
            LAST_MODIFIED_BY = #{lastModifiedBy}
        WHERE SRVC_ID = #{srvcId}

    </update>

    <update id="modify">
        UPDATE SRVC
        SET SRVC_NM = #{srvcNm},
            ANIMAL_CTGR_CD = #{animalCtgrCd},
            BREED_CTGR_CD = #{breedCtgrCd},
            POSTCODE = #{postcode},
            DLBM_LOC = #{dlbmLoc},
            DETAIL_ADDRESS = #{detailAddress},
            SRVC_DTL = #{srvcDtl},
            LAST_MODIFIED_DT = sysdate,
            LAST_MODIFIED_BY = #{lastModifiedBy}
        WHERE SRVC_ID = #{srvcId}
    </update>

    <select id="getmyDlbmHist" resultType="com.dolbom.domain.DlbmVO">
        SELECT SRVC.SRVC_ID,
               SRVC.SRVC_NM,
               SRVC.RATE,
               SRVC.CNT,
               CC1.CD_NM BREED_CTGR_NM,
               CC2.CD_NM ANIMAL_CTGR_NM
            FROM SRVC
            LEFT OUTER JOIN CMMN_CD CC1
                 ON SRVC.ANIMAL_CTGR_CD = CC1.CD_GROUP_ID
                 AND SRVC.BREED_CTGR_CD = CC1.CD_ID
            LEFT OUTER JOIN CMMN_CD CC2
                 ON SRVC.ANIMAL_CTGR_CD= CC2.CD_ID
            WHERE DLBM_ID = #{userId}
    </select>

    <select id="getCmplDlbmHist" resultType="com.dolbom.domain.DlbmVO">
        SELECT SRVC.SRVC_ID,
               SRVC.SRVC_NM,
               SRVC.RATE,
               SRVC.CNT,
               CC1.CD_NM BREED_CTGR_NM,
               CC2.CD_NM ANIMAL_CTGR_NM
        FROM SRVC
        INNER JOIN QUOTE_REQ QR
            ON SRVC.SRVC_ID = QR.SRVC_ID
        INNER JOIN DLBM_USER DU
            ON QR.CUST_ID = DU.USER_ID
        LEFT OUTER JOIN CMMN_CD CC1
            ON SRVC.ANIMAL_CTGR_CD = CC1.CD_GROUP_ID
            AND SRVC.BREED_CTGR_CD = CC1.CD_ID
        LEFT OUTER JOIN CMMN_CD CC2
            ON SRVC.ANIMAL_CTGR_CD= CC2.CD_ID
        WHERE QR.CUST_ID = #{userId}
        GROUP BY SRVC.SRVC_ID, SRVC.SRVC_NM, SRVC.RATE, SRVC.CNT, CC1.CD_NM, CC2.CD_NM
    </select>

    <update id="upCnt">
        UPDATE SRVC
        SET CNT = NVL(CNT, 0) + 1
            WHERE SRVC_ID = #{srvcId}
    </update>

    <update id="updateRate">
        UPDATE SRVC
        SET RATE = (
            SELECT RATE
            FROM (
                     SELECT SRVC_ID,
                            TO_CHAR(AVG(RATE), 'FM9990.9') RATE
                     FROM REVIEW
                     WHERE SRVC_ID = #{srvcId}
                     GROUP BY SRVC_ID
                 )
        )
        WHERE SRVC_ID = #{srvcId}
    </update>

</mapper>