<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbom.mapper.QuoteMapper">
    <insert id="register">
        <selectKey keyProperty="reqId" order="BEFORE" resultType="long">
            SELECT REQ_ID_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO QUOTE_REQ
        (REQ_ID,
         SRVC_ID,
         CUST_ID,
         REQ_TITLE,
         POSTCODE,
         CUST_LOC,
         DETAIL_ADDRESS,
         START_DT,
         END_DT,
         REQ_DTL,
         REQ_PRGR_STAT_CD,
         CREATED_DT,
         CREATED_BY,
         LAST_MODIFIED_DT,
         LAST_MODIFIED_BY)
        VALUES
            (#{reqId},
             #{srvcId},
             #{custId},
             #{reqTitle},
             #{postcode},
             #{custLoc},
             #{detailAddress},
             #{startDt},
             #{endDt},
             #{reqDtl},
             '10',
             sysdate,
             #{createdBy},
             sysdate,
             #{lastModifiedBy})
    </insert>


    <select id="get" resultType="com.dolbom.domain.QuoteReqVO">

    SELECT
        QR.REQ_ID,
        QR.SRVC_ID,
        QR.CUST_ID,
        QR.REQ_TITLE,
        QR.POSTCODE,
        QR.CUST_LOC,
        QR.DETAIL_ADDRESS,
        QR.START_DT,
        QR.END_DT,
        QR.REQ_DTL,
        QR.REQ_PRGR_STAT_CD,
        CC1.CD_NM REQ_PRGR_STAT_NM,
        QR.QUO_PRICE,
        QR.CREATED_DT,
        QR.CREATED_BY,
        QR.LAST_MODIFIED_DT,
        QR.LAST_MODIFIED_BY
    FROM QUOTE_REQ QR
    LEFT OUTER JOIN CMMN_CD CC1
         ON  CC1.CD_GROUP_ID = 'CDA'
         AND QR.REQ_PRGR_STAT_CD = CC1.CD_ID
    WHERE QR.REQ_ID = #{reqId}
    </select>


    <update id="modify">
        UPDATE QUOTE_REQ
            SET REQ_TITLE = #{reqTitle},
                POSTCODE = #{postcode},
                CUST_LOC = #{custLoc},
                DETAIL_ADDRESS = #{detailAddress},
                START_DT = #{startDt},
                END_DT = #{endDt},
                REQ_DTL = #{reqDtl},
                LAST_MODIFIED_DT = sysdate,
                LAST_MODIFIED_BY = #{lastModifiedBy}
            WHERE REQ_ID = #{reqId}
    </update>


    <update id="delete">
        UPDATE QUOTE_REQ
        SET DLT_YN = 'Y',
            REQ_PRGR_STAT_CD = '99',
            LAST_MODIFIED_DT = sysdate,
            LAST_MODIFIED_BY = #{lastModifiedBy}
        WHERE REQ_ID = #{reqId}
    </update>

    <update id="upView">
        UPDATE QUOTE_REQ
        SET REQ_PRGR_STAT_CD = 20,
            VIEW_CNT = NVL(VIEW_CNT, 0) + 1
        WHERE REQ_ID = #{reqId}
    </update>

    <update id="addQuoPrice">
        UPDATE QUOTE_REQ
        SET QUO_PRICE = #{quoPrice},
            REQ_PRGR_STAT_CD = 30,
            LAST_MODIFIED_DT = sysdate,
            LAST_MODIFIED_BY = #{lastModifiedBy}
        WHERE REQ_ID = #{reqId}
    </update>

    <update id="acceptQuo">
        UPDATE QUOTE_REQ
        SET  REQ_PRGR_STAT_CD = '40',
            LAST_MODIFIED_DT = sysdate,
            LAST_MODIFIED_BY = #{lastModifiedBy}
        WHERE REQ_ID = #{reqId}
    </update>

    <update id="signQuo">
        UPDATE QUOTE_REQ
        SET REQ_PRGR_STAT_CD = 50,
            LAST_MODIFIED_DT = sysdate,
            LAST_MODIFIED_BY = #{lastModifiedBy}
        WHERE REQ_ID = #{reqId}
    </update>

    <select id="getQuoHist" resultType="com.dolbom.domain.QuoteReqVO">
        SELECT QR.REQ_ID,
               QR.REQ_TITLE REQ_TITLE,
               QR.START_DT START_DT,
               QR.END_DT END_DT,
               QR.CUST_LOC CUST_LOC,
               SRVC.SRVC_NM SRVC_NM,
               CC1.CD_NM BREED_CTGR_NM,
               CC2.CD_NM ANIMAL_CTGR_NM,
               CC3.CD_NM REQ_PRGR_STAT_NM,
               QR.REQ_PRGR_STAT_CD
        FROM QUOTE_REQ QR
                 INNER JOIN SRVC
                            ON QR.SRVC_ID = SRVC.SRVC_ID
                 INNER JOIN DLBM_USER DU
                            ON SRVC.DLBM_ID = DU.USER_ID
                 LEFT OUTER JOIN CMMN_CD CC1
                                 ON SRVC.ANIMAL_CTGR_CD = CC1.CD_GROUP_ID
                                     AND SRVC.BREED_CTGR_CD = CC1.CD_ID
                 LEFT OUTER JOIN CMMN_CD CC2
                                 ON SRVC.ANIMAL_CTGR_CD= CC2.CD_ID
                 LEFT OUTER JOIN CMMN_CD CC3
                                 ON  CC3.CD_GROUP_ID = 'CDA'
                                     AND QR.REQ_PRGR_STAT_CD = CC3.CD_ID
        <if test="status != null and status.equals('cmpl') ">
            <![CDATA[
            WHERE QR.END_DT < sysdate
            ]]>
        </if>
        <if test="status != null and status.equals('prgr') ">
            <![CDATA[
            WHERE QR.END_DT >= sysdate
            ]]>
        </if>
        <if test="auth != null and auth.equals('DLBM') ">
            AND SRVC.DLBM_ID = #{userId}
        </if>
        <if test="auth != null and auth.equals('CUST') ">
            AND QR.CUST_ID = #{userId}
        </if>
        ORDER BY QR.END_DT DESC
    </select>
</mapper>